<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="isLoggedIn$ | async">
      <a mat-raised-button *ngIf="getCurrentRoute() === '/'+ROUTES.users" [routerLink]="'/'+ROUTES.users">
        {{ 'header.users' | translate }}
      </a>
      <a mat-button *ngIf="getCurrentRoute() !== '/'+ROUTES.users" [routerLink]="'/'+ROUTES.users">
        {{ 'header.users' | translate }}
      </a>
      <a mat-raised-button *ngIf="getCurrentRoute() === '/'+ROUTES.usersInfo" [routerLink]="'/'+ROUTES.usersInfo">
        {{ 'header.info' | translate }}
      </a>
      <a mat-button *ngIf="getCurrentRoute() !== '/'+ROUTES.usersInfo" [routerLink]="'/'+ROUTES.usersInfo">
        {{ 'header.info' | translate }}
      </a>
    </div>
    <button mat-icon-button class="toggle-language-btn" (click)="toggleLanguage()">
      <mat-icon>public</mat-icon>
    </button>
    <button mat-icon-button class="logout-btn" (click)="logout()" [disabled]="!(isLoggedIn$ | async)">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
