<app-header></app-header>

<mat-card>
  <mat-card-content *ngIf="isSuccess$ | async">
    <h2>{{ 'activationPage.success' | translate }}</h2>
  </mat-card-content>
  <mat-card-content *ngIf="!(isSuccess$ | async) && !(isPending$ | async)">
    <h2>{{ 'activationPage.fail' | translate }}</h2>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="'/'+ROUTES.login">{{ 'common.buttons.back' | translate }}</a>
  </mat-card-actions>
</mat-card>
