<app-header></app-header>

<mat-toolbar>
  <span>{{ 'registrationPage.title' | translate }}</span>
</mat-toolbar>
<mat-card [ngClass]="{ 'submitting': isPending$ | async }">
  <mat-card-content *ngIf="!(isSuccess$ | async)">
    <mat-spinner *ngIf="isPending$ | async"></mat-spinner>
    <form [formGroup]="registrationForm" (submit)="onSubmit()" id="registrationForm" autocomplete="off">
      <mat-form-field>
        <mat-label>{{ 'common.fields.email' | translate }}</mat-label>
        <input matInput required email
          name="email"
          placeholder="{{ 'common.fields.email' | translate }}"
          formControlName="email"
        >
        <ng-container *ngIf="registrationForm.controls.email.errors as errors">
          <mat-error *ngIf="errors.email">
            {{ 'formErrors.invalidEmail' | translate }}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'common.fields.confirmEmail' | translate }}</mat-label>
        <input matInput required
          name="confirmEmail"
          placeholder="{{ 'common.fields.confirmEmail' | translate }}"
          formControlName="confirmEmail"
        >
        <ng-container *ngIf="!registrationForm.untouched">
          <ng-container *ngIf="registrationForm.controls.confirmEmail.errors as errors">
            <mat-error *ngIf="!errors.isMatching">{{ 'formErrors.invalidEmailMatch' | translate }}</mat-error>
          </ng-container>
        </ng-container>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'common.fields.name' | translate }}</mat-label>
        <input matInput required
          name="name"
          placeholder="{{ 'common.fields.name' | translate }}"
          formControlName="name"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'common.fields.password' | translate }}</mat-label>
        <input matInput required
          type="password"
          name="password" 
          placeholder="{{ 'common.fields.password' | translate }}" 
          autocomplete="new-password"
          formControlName="password"
        >
        <ng-container *ngIf="registrationForm.controls.password.errors as errors">
          <mat-error *ngIf="errors.minength">
            {{ 'formErrors.invalidPasswordLength' | translate : { value: PASSWORD_MIN_LENGTH } }}
          </mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'common.fields.confirmPassword' | translate }}</mat-label>
        <input matInput required
          type="password"
          name="confirmPassword"
          placeholder="{{ 'common.fields.confirmPassword' | translate }}"
          autocomplete="new-password"
          formControlName="confirmPassword"
        >
        <ng-container *ngIf="!registrationForm.untouched">
          <ng-container *ngIf="registrationForm.controls.confirmPassword.errors as errors">
            <mat-error *ngIf="!errors.isMatching">{{ 'formErrors.invalidPasswordMatch' | translate }}</mat-error>
          </ng-container>
        </ng-container>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="isSuccess$ | async">
    <h2>{{ 'registrationPage.registrationSuccess' | translate }}</h2>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="..">{{ 'common.buttons.back' | translate }}</a>
    <button mat-raised-button type="submit" color="primary" form="registrationForm" [disabled]="isSuccess$ | async">
      {{ 'common.buttons.register' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
