<app-header *ngIf="isLoggedIn$ | async"></app-header>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'notFoundPage.pageNotFound' | translate }} :(</mat-card-title>
    <mat-card-subtitle>{{ 'notFoundPage.info' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="goBack()">{{ 'common.buttons.goBack' | translate }}</button>
    <button mat-button (click)="goHome()">{{ 'common.buttons.home' | translate }}</button>
  </mat-card-actions>
</mat-card>
