<mat-dialog-content>
  <h3>{{ message }}</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">{{ 'common.buttons.no' | translate }}</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>
    {{ 'common.buttons.yes' | translate }}
  </button>
</mat-dialog-actions>
