<table mat-table matSort *ngIf="pageItemsLength"
  [dataSource]="dataSource"
  class="mat-elevation-z6"
  matSortActive="id"
  matSortDirection="asc"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'common.fields.id' | translate }}</th>
    <td mat-cell *matCellDef="let history">{{ history.id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>{{ 'common.fields.email' | translate }}</th>
    <td mat-cell *matCellDef="let history">{{ history.email }}</td>
  </ng-container>

  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'common.fields.time' | translate }}</th>
    <td mat-cell *matCellDef="let history">{{ history.datetime }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator *ngIf="pageItemsLength"
  [length]="pageItemsLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="PAGE_SIZE_OPTIONS"
  (page)="onPageEvent($event)"
></mat-paginator>

<ng-container *ngIf="pageItemsLength === 0">
  <h2>{{ 'loginHistoryTable.noHistory' | translate }}</h2>
</ng-container>

<mat-spinner *ngIf="isPending"></mat-spinner>
