<app-header></app-header>

<mat-toolbar>
  <span>{{ 'loginPage.title' | translate }}</span>
  <span>
    {{ 'loginPage.noAccount' | translate }}
    {{ 'loginPage.register' | translate }}
    <a [routerLink]="'/'+ROUTES.registration" class="registration-link">{{ 'loginPage.here' | translate }} </a>
  </span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="onSubmit()" id="loginForm">
      <mat-form-field>
        <mat-label>{{ 'common.fields.email' | translate }}</mat-label>
        <input matInput required email
          name="email"
          placeholder="{{ 'common.fields.email' | translate }}"
          formControlName="email"
        >
        <ng-container *ngIf="loginForm.controls.email.errors as errors">
          <mat-error *ngIf="errors.email">{{ 'formErrors.invalidEmail' | translate }}</mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'common.fields.password' | translate }}</mat-label>
        <input matInput required
          type="password"
          name="password"
          placeholder="{{ 'common.fields.password' | translate }}"
          formControlName="password"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary" form="loginForm">
      {{ 'common.buttons.login' | translate }}
    </button>
    <a mat-raised-button [routerLink]="'/'+ROUTES.resetPassword">{{ 'common.buttons.forgotPassword' | translate }}</a>
  </mat-card-actions>
</mat-card>
