<mat-dialog-content>
  <app-login-history-table 
    (pagination)="onPaginationChange($event)"
    [isPending]="data.isPending"
    [loginHistory]="data.loginHistoryResponse.loginHistory"
    [pageItemsLength]="data.loginHistoryResponse.total"
  ></app-login-history-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">{{ 'common.buttons.close' | translate }}</button>
</mat-dialog-actions>
