<app-header></app-header>

<div class="table-wrapper" [ngClass]="{ 'disabled': (isPending$ | async) || isLoginHistoryDialogOpen() }">
  <form [formGroup]="userForm" (submit)="onSubmit()" autocomplete="off" disabled #formDirective="ngForm">
    <table mat-table [dataSource]="addEmptyUser(getUsersResponse$ | async)" class="mat-elevation-z6" *ngIf="getUsersResponse$ | async">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{ 'common.fields.id' | translate }}</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ 'common.fields.name' | translate }}</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="!(user.name === null || editingEmail === user.email)">
            {{ user.name }}
          </ng-container>
          <ng-container *ngIf="user.name === null || editingEmail === user.email">
            <mat-form-field [ngClass]="{ 'disabled': editingEmail !== undefined }">
              <mat-label>{{ 'common.fields.name' | translate }}</mat-label>
              <input matInput required
                name="name"
                placeholder="{{ 'common.fields.name' | translate }}"
                formControlName="name"
                [value]="user.name"
              >
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{ 'common.fields.email' | translate }}</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="user.email !== null">
            {{ user.email }}
          </ng-container>
          <ng-container *ngIf="user.email === null">
            <mat-form-field [ngClass]="{ 'disabled': editingEmail !== undefined }">
              <mat-label>{{ 'common.fields.email' | translate }}</mat-label>
              <input matInput required email
                name="email"
                placeholder="{{ 'common.fields.email' | translate }}"
                formControlName="email"
              >
              <ng-container *ngIf="userForm.controls.email.errors as errors">
                <mat-error *ngIf="errors.email">
                  {{ 'formErrors.invalidEmail' | translate }}
                </mat-error>
              </ng-container>
            </mat-form-field>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="isActivated">
        <th mat-header-cell *matHeaderCellDef>{{ 'common.fields.isActivated' | translate }}</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="user.isActivated !== null">
            <ng-container *ngIf="user.isActivated">{{ 'common.phrases.yes' | translate }}</ng-container>
            <ng-container *ngIf="!user.isActivated">{{ 'common.phrases.no' | translate }}</ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'common.fields.actions' | translate }}</th>
        <td mat-cell *matCellDef="let user">
          <ng-container *ngIf="user.id !== null && user.email !== editingEmail">
            <button mat-icon-button type="button" color="primary" (click)="onLoginHistoryClick(user.email)">
              <mat-icon>history</mat-icon>
            </button>
            <button mat-icon-button type="button" color="primary" (click)="editingEmail = user.email">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
              type="button"
              color="primary" 
              (click)="onDeleteUserClick(user.email)" 
              [disabled]="(userInfo$ | async).id === user.id"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!(user.id !== null && user.email !== editingEmail) && user.id !== null">
            <button mat-icon-button (click)="editingEmail = undefined" color="primary">
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button type="submit" color="primary">
              <mat-icon>done</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="user.id === null">
            <button mat-icon-button type="submit" color="primary" [disabled]="editingEmail !== undefined">
              <mat-icon>done</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="mat-spinner-wrapper" *ngIf="(isPending$ | async) && !isLoginHistoryDialogOpen()">
      <mat-spinner></mat-spinner>
    </div>
  </form>

  <mat-paginator *ngIf="(getUsersResponse$ | async)?.total"
    [length]="(getUsersResponse$ | async)?.total"
    [pageSize]="pageSize"
    [pageSizeOptions]="PAGE_SIZE_OPTIONS"
    (page)="onPageEvent($event)"
  ></mat-paginator>
</div>

<mat-card *ngIf="!(getUsersResponse$ | async) && (isPending$ | async)">
  <mat-spinner></mat-spinner>
</mat-card>
