table {
  width: 100%;
}

mat-card > mat-spinner {
  margin: 0 auto;
}

.table-wrapper {
  position: relative;
}

.mat-spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// https://github.com/angular/components/issues/8420
button.mat-icon-button {

  &.cdk-program-focused {

    ::ng-deep .mat-button-focus-overlay{
      opacity: 0;
    }
  }
}

tr.mat-row {
  height: 58px;
}

.mat-form-field {
  margin-bottom: -6px;
}
