<app-header></app-header>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title>{{ (userInfo$ | async)?.name }}</mat-card-title>
    <mat-card-subtitle>{{ (userInfo$ | async)?.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 'common.fields.id' | translate }}: {{ (userInfo$ | async)?.id }}</p>
    <p>
      {{ 'common.fields.isActivated' | translate }}: 
      <ng-container *ngIf="(userInfo$ | async)?.isActivated">{{ 'common.phrases.yes' | translate }}</ng-container>
      <ng-container *ngIf="!(userInfo$ | async)?.isActivated">{{ 'common.phrases.no' | translate }}</ng-container>
    </p>
  </mat-card-content>
</mat-card>

<h2>{{ 'infoPage.loginHistory' | translate }}</h2>

<app-login-history-table 
  (pagination)="onPaginationChange($event)"
  [isPending]="isPending$ | async"
  [loginHistory]="(loginHistoryResponse$ | async)?.loginHistory"
  [pageItemsLength]="(loginHistoryResponse$ | async)?.total"
></app-login-history-table>
